/* **************** VARIABLE**************** */
:root {
  --first-color: #3d306e;
  --first-color-second: #096733;
  --text-color-yellow: #fbb315;
}

.first-color {
  color: var(--first-color) !important;
}

.first-color-second {
  color: var(--first-color-second) !important;
}

.bg-first-color {
  background-color: var(--first-color) !important;
}

.bg-first-color-second {
  background-color: var(--first-color-second) !important;
}

.color-green {
  color: rgb(55, 179, 74);
}

.title-small {
  font-weight: 300;
}

/* **************** LANDING PAGE **************** */

header .nav-link:hover {
  color: blue !important;
  cursor: pointer;
}

/* Landing Page - hero section */

.hero-section {
  height: 100vh;
  background-image: url("../images/bg/4.png");
  background-size: cover;
  background-position: center;
}

.hero-section .bg-content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(61, 48, 110, 0.75);
}

.hero-section .bg-content h1 {
  font-weight: 600;
  font-size: 46px;
  color: #f9f9f9;
}

.hero-section .bg-content .btn-hero {
  border: 2px solid var(--text-color-yellow);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
}

#outlined:hover {
  border: 4px solid white;
  background-color: var(--first-color);
  color: white;
}

.hero-section .bg-content .sub-text-hero {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.hero-section .bg-content .bi-chevron-right {
  font-size: 12px;
  margin-left: 15px;
}

/* Landing Page - Counter */
.counter-section {
  background: var(--first-color);
  padding: unset !important;
}

.fw-normal h6 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.fw-normal p {
  font-weight: 300;
  font-size: 13px;
  color: #ffffff;
}

/* Landing Page - Our Team*/
.section-team {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  /* background-color: #f6f9ff; */
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(
    to right,
    var(--first-color),
    rgba(61, 48, 110, 0.75)
  );
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 500;
}

.section-team .single-person:hover .full-name {
  color: #fff;
}

/* Landing Page - Footer */
.footer .card-form-footer {
  background: var(--first-color);
  border-radius: 20px;
  padding: 30px;
}

.footer .btn-form-footer {
  border-radius: 5px;
  color: var(--first-color);
  padding: 5px 40px;
}

.widget-1 p {
  font-size: 12px !important;
}

.widget-1 .fw-light {
  color: black;
}

/* Edit Profile */
.bg-banner {
  background-color: #3d306e;
  height: 100px;
}

.bg-custom {
  background: linear-gradient(
    38.6deg,
    #573dff 2.33%,
    rgba(81, 56, 238, 0.6) 100.79%
  );
}

.bg-line {
  background-image: url("../images/bg/Line.png");
}

.bg-blur {
  background: linear-gradient(
    225.94deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}

.btn-kg {
  background: #573dff;
  border-radius: 10px;
}

.btn-kg-white {
  background: #573dff;
  color: #f9f9f9;
}

.btn-kg:hover {
  opacity: 80%;
}

.logo-kg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 200px;
  top: 88px;
}

.googleicon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.banner-studiku {
  background: linear-gradient(271.51deg, #573DFF 15.61%, rgba(87, 61, 255, 0.6) 100%)  no-repeat center center; 
  background-size:cover;
}

.card-course {
  background:#D9D9D9; 
  border-radius: 20px;
}

.card-category {
  background:#D9D9D9; 
  border-radius: 20px
}
